<!--contain-->
<div class="container">
  <h1 class="text-center">Aquarius Characteristics</h1>
  <div class="container-fluid well span6">
    <div class="row">
      <div class="col-md-4">
        <img src="/images{{zodiacs.imagePath}}" class="img-circle" />
      </div>

      <div class="col-md-8">
        <h3>{{zodiacs.name}}</h3>
        <h4>Strengths:
          <small>{{zodiacs.strengths}}</small></h4>
        <h4>Weaknesses:
          <small>{{zodiacs.weeknesses}}</small>
        </h4>
        <h4>Likes:
          <small>{{zodiacs.likes}}</small></h4>
        <h4>Dislikes:
          <small>{{zodiacs.dislikes}}</small></h4>
        <h4><small>{{zodiacs.description}}</small></h4>
      </div>
    </div>
  </div>
</div>

<!--/contain-->